@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
/* @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cute+Font&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  transition: all ease-in-out 400ms;
}
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading {
  font-family: "Bebas Neue", sans-serif;
  /* font-weight: 400; */
  /* font-style: normal; */
}
.text {
  letter-spacing: -0.1em;
}
.home {
  background: linear-gradient(
    -45deg,
    #003314,
    #007e8f,
    #013451,
    #004b76,
    #008172
  );
  background-size: 400% 400%;
  /* filter: blur(100px); */
  /* z-index: 200; */
  animation: gradient 20s ease infinite;
}
.ferr {
  background: linear-gradient(45deg, #027585, #001114, #073d45, #ffffff);
  background-size: 400% 400%;
  /* filter: blur(100px); */
  animation: gradient 20s ease infinite;
}
.gl {
  background: linear-gradient(45deg, #150e28, #903aff, #d434fe);
  background-size: 400% 400%;
  /* filter: blur(100px); */
  animation: gradient 20s ease infinite;
}
.qc {
  background: linear-gradient(45deg, #6305b1, #8006e4, #ffffff);
  background-size: 400% 400%;
  /* filter: blur(100px); */
  animation: gradient 20s ease infinite;
}
.cute-font-regular {
  font-family: "Cute Font", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}
.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}
.def {
  background: linear-gradient(45deg, #1c4b42, #121e2c, #000000);
  background-size: 400% 400%;
  /* filter: blur(100px); */
  animation: gradient 20s ease infinite;
}
.dt {
  background: linear-gradient(45deg, #000000, #93000080, #000000);
  background-size: 400% 400%;
  /* filter: blur(100px); */
  animation: gradient 20s ease infinite;
}
.we {
  background: linear-gradient(to bottom left, #ffffff00, #0000, #013451);
  animation: we 10s ease-in-out infinite;
}
@keyframes we {
  0% {
    background: linear-gradient(to bottom left, #ffffff00, #0000, #013451);
  }
  50% {
    /* transform: translateY(-50%); */
    /* background: linear-gradient(to bottom, #ffffff00, #0000, #013451); */
  }
  100% {
    /* transform: translateY(0%); */
    /* background: linear-gradient(to bottom right, #ffffff00, #0000, #013451); */
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.landing {
  background: linear-gradient(130deg, #ffffff, #025d3d);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}
/* 1C5C5E 1D6253 4F2744 202031 */
.hide {
  top: -80px;
  transition: 0.3s linear;
}
.active {
  top: 0px;
  transition: 0.3s linear;
}
/* .project {
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  background-color: black;
} */
/* .project-1 {
  background-color: red;
}
.project-2 {
  background-color: fuchsia;
}
.project-3 {
  background-color: blueviolet;
} */
